<header class="main-header">
  <div class="header-left">
    <div class="burger" id="burgerMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h1>Outil Interne</h1>
  </div>
  <div class="user-info">
    <button id="themeToggleBtn">
      <span class="theme-icon">🌙</span>
      <span class="theme-text">Mode sombre</span>
    </button>
    <div>
        <span id="userEmail"></span>
        <button id="logoutBtn" class="danger">Déconnexion</button>
    </div>
  </div>
</header>